#header {
    text-align: start;
    padding: 20px 0px 10px 30px;
    color: white;
}

#cdc {
    position: fixed;
    right: 3%;
    bottom: 0%;
    color: grey;
    margin-bottom: 10px;
}

#earth-cartoon-mask {
    position: fixed;
    left: 80%;
    top: 60%;
    height: 35%;
    width: 18%;
}