#welcome-text {
    margin: 200px auto 40px auto;
    width: 50%;
    height: 40%;
    padding: 40px 20px 200px 20px;
    background-color: #1C4772;
    border-radius: 20px;
    color: white;
    position: relative;
    z-index: 10;
}

#launch-btn {
    margin: 0px auto 300px auto;
    padding: 20px 5px;
    width: 10%;
    height: 10%;
    background: #1B6F46;
    border-radius: 20px;
    border: none;
}

#launch-btn a {
    color: white;
    font-size: 30px;
}

.star {
    z-index: 1;
    background-color: purple;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: "0px 0px 10px 10px yellow"
    }
    to {
        box-shadow: "0px 0px 10px -10px yellow"
    }
}