.welcome-text {
    background-color: #1C4772;
    border-radius: 30px;
    position: relative;
    z-index: 10;
}

#launch-btn {
    padding: 10px 20px;
    background: #1B6F46;
    border-radius: 30px;
    border: none;
    z-index: 10;
}

#launch-btn a {
    color: white;
    font-size: 30px;
}